<<<<<<< HEAD
.grid-container {
  display: grid;
  height:100vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr 30px;
  grid-template-areas: "logo header" "nav main" "nav footer";
}

.main { grid-area: main; }

.footer { grid-area: footer; }

.logo { grid-area: logo; }

.header { grid-area: header; }

.nav { grid-area: nav; }
=======
.main {
	grid-area: main;
}

.nav {
	grid-area: nav;
}

.logo {
	grid-area: logo;
}

.header {
	grid-area: header;
}

.nav {
	grid-area: nav;
}

.footer {
	grid-area: footer;
}

.grid-container {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: 100px 1fr 50px;
	grid-template-areas: "logo header" "nav  main" "nav  footer";
	height: 100vh;
}
>>>>>>> feature/front-end
